/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Plein écran */
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* empêche tout scroll */
}

/* Image plein écran */
body {
    background-image: url("images/Portefolioin.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; /* image toujours à la taille de l'écran */
}
