/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Plein écran garanti */
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* bloque tout scroll */
}

/* Image plein écran */
body {
    background: url("./images/Portefolioin.png") center center no-repeat;
    background-size: cover;
    background-color: #000; /* fallback si image ne charge pas */
}
